@tailwind base;
@tailwind components;
@tailwind utilities;
#HeroSection{
  background-image: url('../Images/Hero-section.svg');
}
#about-section{
  background-image: url('../Images/About-us.svg');
}
#image{
  width: 50%;
  height: 45%;
  margin: 0 auto;
}
#features{
  background-image: url('../Images/Features-background.svg');
}
#feature-card{
  background-image: url('../Images/Feature-background.svg');
}
#listing{
  background-image:url('../Images/Property-listing.svg')
}
#contact-us{
  background-image: url('../Images/contact-us.svg');
  /* background-color: purple; */
}
#footer-section{
  background-image:url('../Images/Footer.svg')
}
#button{
  background-image: url('../Images/Button.svg');
  /* background-color: rgb(99, 4, 99); */
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
